<div class="contenedor-form">
    <form class="form" action="/api/productos" method="post">
        <label for="name">Nombre</label>
        <input type="text" name="name" class="input-form">

        <label for="price">Precio</label>
        <input type="text" name="price" class="input-form">

        <label for="url">Url Imagen</label>
        <input type="text" name="url" class="input-form">

        <button class="button-form" type="submit">Guardar</button>
    </form>
</div>
