<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/style.css">
    <title>Login Error</title>
</head>
<body>
    <div class="contenedor-main">
        <div class="contenedor-despedida">
            <h1 class="titulo-despedida">Login Error: Credenciales no validas</h1>
        </div>
        
        
    </div>
    <script>
        setTimeout(()=>{
            location.href="/api/"
        },2000)
    </script>
</body>
</html>