<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <div class="contenedor-main">
        <h1 class="titulo">Ingrese Producto</h1>

        <%- include("../partials/formulario.ejs") %>

        <div class="div-button">
            <a href="/api/productos">
                <button class="button-main">Ir a Vista Productos</button>
            </a>
        </div>
        
    </div>
    
</body>
</html>