<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <div class="contenedor-main">
       
        <div>
            <h1 class="titulo-tabla">Vista de Productos</h1>
            
            <%- include("../partials/tabla.ejs") %>
           
        </div>

    </div>
    <script src="../../main.js"></script>
</body>
</html>