<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <div class="contenedor-main">
        <h1 class="titulo-tabla">Vista de Productos</h1>
        
        <% const productos = contenedor.getAll(); %>

        <% if(productos.length === 0){ %>
             <div>
                 <h2>No se encontraron productos</h2>
             </div>
        <% }else{ %>
            <%- include("../partials/tabla.ejs") %>
        <% } %>
        
        <div class="div-button">
            <a href="/api">
                <button class="button-main">Ir a Guardar Productos</button>
            </a>
        </div>
    </div>
    
</body>
</html>