.contenedor-main{
    background-color: rgb(230, 229, 227);
    width: 40vw;
    height: 80vh;
    border-radius: 5px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titulo{
    color: blue;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    margin-bottom: 0;
}

.button-main{
    width: 200px;
    height: 40px;
    background-color: rgb(234, 207, 51);
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    transition: .3s;
    align-items: flex-start;
}

.button-main:hover{
    width: 205px;
    height: 45px;
    color: #fff;
}

.div-button{
    display: flex;
    justify-content: center;
}



/**************** ESTILO PARA FORMULARIO ****************/
.contenedor-form{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    height: 400px;
    
}

label{
    font-weight: bolder;
    font-size: 20px;
}

.input-form{
    border-radius: 4px;
    height: 25px;

    border: none;
}

.input-form:focus{
    height: 25px;
}

.button-form{
    width: 80px;
    height: 40px;
    background-color: rgb(84, 189, 55);
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 15px;
    transition: .3s;
    margin-left: 10px 5px;
}

.button-form:hover{
    width: 78px;
    font-size: 15px;
}


/**************** ESTILO PARA TABLE ****************/
.titulo-tabla{
    color: blue;
    text-align: center;
    padding: 10px;
}

table{
    width: 100%;
    padding: 10px;
}

th{
    background-color: rgb(56, 56, 59);
    color: #fff;
    padding: 15px;
}

td{
    background-color: rgb(76, 76, 79);
    color: #fff;
    padding-left: 10px;
}

.td-imagen{
    text-align: center;
}

/**************** VISTA MOBILE ****************/
@media only screen and (max-width: 768px){
    .contenedor-main{
        width: 99%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .titulo{
        text-align: left;
        font-size: 40px;
        padding: 5px 10px;
        margin: 0;
    }

    .form{
        height: 50vh;
        padding: 10px 5px;
        margin: 0;
    }

    label{
        font-weight: bolder;
        font-size: 20px;
    }

    .titulo-tabla{
        text-align: left;
        font-size: 40px;
        padding: 5px 10px;
        margin: 0;
    }

    .button-form{
        height: 30px;
    }
}