.contenedor-main{
    background-color: #CFDAC8;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



.titulo{
    color: blue;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    margin-bottom: 0;
}

.button-main{
    width: 200px;
    height: 40px;
    background-color: rgb(234, 207, 51);
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    transition: .3s;
    align-items: flex-start;
}

.button-main:hover{
    width: 205px;
    height: 45px;
    color: #fff;
}

.div-button{
    display: flex;
    justify-content: center;
}



/**************** ESTILO PARA FORMULARIO PRODUCTOS ****************/
.contenedor-form{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    height: 400px;
    
}


.input-form{
    border-radius: 4px;
    height: 25px;
    border: none;
}

.input-form:focus{
    height: 25px;
}

.button-form{
    width: 100px;
    height: 40px;
    background-color: rgb(84, 189, 55);
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 15px;
    transition: .3s;
    margin-left: 10px 5px;
    cursor: pointer;
}

.button-form:hover{
    scale: 1.05;
}


/**************** ESTILO PARA TABLE ****************/
.titulo-tabla{
    color: blue;
    text-align: center;
    padding: 10px;
}

table{
    width: 80%;
    margin-left: 10%;
}

th{
    background-color: rgb(56, 56, 59);
    color: #fff;
    padding: 15px;
}

td{
    background-color: rgb(76, 76, 79);
    color: #fff;
    padding-left: 10px;
}

.td-imagen{
    text-align: center;
}
/**************** ESTILO PARA MENSAJES ****************/
.contenedor-mensajes{
    width: 50%;
    height: auto;
    background-color: #fff;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

.contenedor-chat{
    margin: 10px;
}

label{
    margin-top: 10px;
    margin-bottom: 3px;
    font-family: sans-serif;;
    font-weight: bolder;
    font-size: 20px;
}

.inputTexto{
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 300px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.inputMensaje{
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 300px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);

}

.imagenMensaje{
    width: 40px;
    height: 40px;
}

.mail{
    font-weight: bold;
    color: rgb(42, 69, 249);
}

.texto{
    font-family: italic;
    color: rgb(16, 177, 10);
    font-weight: 900;
}

.form-mensajes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}
/**************** ESTILO PARA BIENVENIDA ****************/
.contenedor-bienvenida{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7C9473;
}

.titulo-bienvenida{
    margin-left: 20px;
    color: #fff;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
}

.boton-logout{
    border-radius: 5px;
    background-color: rgb(234, 207, 51);
    border: none;
    height: 50px;
    width: 80px;
    margin-right: 20px;
}

.boton-logout:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}


/**************** ESTILO PARA DESPEDIDA ****************/
.contenedor-despedida{
    height: 100px;
    border-radius: 10px;
    background-color: rgb(180, 65, 65);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-despedida{
    margin-left: 20px;
    color: #fff;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
    
}

/**************** ESTILO PARA LOGIN ****************/

.contenedor-formularios{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
    padding: 20px;
}

.titulo-login{
    font-family: sans-serif;
    font-size: 40px;
    margin-left: 30px;
    color: #7C9473;
}

.titulo-secundario{
    margin-left: 30px;
    font-family: sans-serif;
    color: #717370;
}

.input-login{
   margin: 10px 0px;
   border-radius: 4px;
   height: 25px;
   border: none;
}

.contenedor-login{
    height: 50%;
    width: 50%;
    background-color: #CFDAC8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*  */

.contenedor-titulo{
    text-align: center;
    margin: 10px;
}

.titulo-info{
    color: #232323;
    font-size: 40px;

}

.subtitulo-info{
    padding-left: 10px;
    color: #7C9473;
    font-size: 30px;
}

.info{
    padding-left: 30px;
    color: #717370;
    font-size: 20px;
    font-weight: 600;
}


/**************** VISTA MOBILE ****************/
@media only screen and (max-width: 768px){
    .contenedor-main{
        width: 99%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .titulo{
        text-align: left;
        font-size: 40px;
        padding: 5px 10px;
        margin: 0;
    }

    .form{
        height: 50vh;
        padding: 10px 5px;
        margin: 0;
    }

    label{
        font-weight: bolder;
        font-size: 20px;
    }

    .titulo-tabla{
        text-align: left;
        font-size: 40px;
        padding: 5px 10px;
        margin: 0;
    }

    .button-form{
        height: 30px;
    }
}