<div class="contenedor-form">
    <form class="form" action="/api/productos" method="post">
        <label for="name">Nombre:</label>
        <input class="input-form" type="text" name="name" id="name">
        
        <label for="price">Precio:</label>
        <input class="input-form" type="number" name="price" id="price">
        
        <label for="url">Url imagen:</label>
        <input class="input-form" type="text" name="url" id="url">
        
        <button class="button-form" type="submit">Guardar</button>
    </form>
</div>