<div class="contenedor-form-login">
    <form class="form-login" action="/api/auth/login" method="post">
        <label  for="usuario">Ingrese su nombre:</label>
        <input class="input-login" type="text" name="usuario" required>
        <button class="button-form">Entrar</button>
    </form>
</div>