<div>
    <h1>Centro de mensajes. <span id="compresion"></span></h1>

    <div class="contenedor-mensajes" id="contenedorMensajes">

    </div>

    <form class="form-mensajes" id="form-mensajes" onsubmit="return mandarMensaje(this)">
        <label class="label" for="mail">mail:</label>
        <input type="text" class="inputMensaje" placeholder="Escribe tu mail" id="mail">

        <label class="label" for="nombre">Nombre:</label>
        <input type="text" class="inputMensaje" placeholder="Nombre" id="nombre">

        <label class="label" for="apellido">Apellido:</label>
        <input type="text" class="inputMensaje" placeholder="Apellido" id="apellido">

        <label class="label" for="edad">Edad:</label>
        <input type="text" class="inputMensaje" placeholder="Edad" id="edad">

        <label class="label" for="alias">Alias:</label>
        <input type="text" class="inputMensaje" placeholder="Alias" id="alias">

        <label class="label" for="avatar">Avatar:</label>
        <input type="text" class="inputMensaje" placeholder="Url de imagen" id="avatar">


        <div class="contenedor-chat">
            <input type="text" class="inputTexto" placeholder="Escribe tu mensaje..." id="text">

            <button type="submit" class="button-form" id="button-enviar">Enviar</button>
        </div>
        
    </form>
</div>