<div>
    <h1>Centro de mensajes</h1>

    <div class="contenedor-mensajes" id="contenedorMensajes">

    </div>

    <form class="form-mensajes" id="form-mensajes" onsubmit="return mandarMensaje(this)">
        <label class="label" for="mail">Mail:</label>
        <input type="text" class="inputMail" placeholder="Escribe tu mail" id="mail">
        <div class="contenedor-chat">
            <input type="text" class="inputTexto" placeholder="Escribe tu mensaje..." id="texto">

            <button class="button-enviar" id="button-enviar">Enviar</button>
        </div>
        
    </form>
</div>