<div>
    <table id="tabla">
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
        <tbody id="tbody">

        </tbody>
        
                    
    </table>
</div>