<div>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
        
        <% const productos = contenedor.getAll(); %>
            
        <% productos.forEach( product => { %>
            <tr>
                <td><%= product.name %></td>
                <td>$<%= product.price %></td>
                <td class="td-imagen"><img width="40px" height="auto" src= <%= product.url %> > </td>
            </tr>
        <% }) %>
                    
    </table>
</div>